YAPF_RELEASE_SOURCE_DIR=/path/to/php-project
YAPF_RELEASE_OUTPUT_DIR=/path/to/dist/my-app
YAPF_RELEASE_APP_ID=my-app
YAPF_RELEASE_ENTRY=public/index.php
YAPF_RELEASE_MACHINE_CODE=
YAPF_RELEASE_OVERLAY_DIR=
YAPF_RELEASE_ENV_FILE=
YAPF_RELEASE_EXPIRES_AT=null
YAPF_RELEASE_LIMIT_TYPE=none
YAPF_RELEASE_LIMIT_VALUE=0
YAPF_RELEASE_STRIP=true
YAPF_RELEASE_EXCLUDE=(tests docs)
YAPF_RELEASE_ALLOW_EXT=php,json,lock,xml,yml,yaml,ini,stub
YAPF_RELEASE_ALLOW_FILE=(composer.lock artisan)